/*  Import files for use */
@use "../styles/partials/colors";
@use "../styles/partials/global";
@use "../styles/partials/mixins";
@use "../styles/partials/fonts";


/*  Header styling*/
.header {
    background-color: colors.$primary-black;

    /* Media queries */
    @include mixins.tablet {
        display: flex;

    }

    @include mixins.desktop {
        padding: 1rem 0 0 3rem;
    }

    &__image-container {
        padding: 1rem 0;
    }

    &__image {
        display: block;
        width: 8rem;
        height: 1.5rem;
        margin: auto;

        /* Media queries */
        @include mixins.tablet {
            margin-left: 2rem;
        }

    }

    &__navigation-list {
        display: flex;
        justify-content: space-between;

        align-self: flex-end;
        list-style-type: none;
        margin: 0;
        padding-left: 0;

        /* Media queries */
        @include mixins.tablet {
            padding-top: 0.7rem;
            height: 100%;
            margin-left: 4rem;


        }
    }

    &__nav-list-item {

        color: colors.$primary-silver;
        font-size: 1.2rem;
        text-align: center;
        font-weight: 700;
        padding: 0.5rem;
        width: 50%;

        /* Media queries */
        @include mixins.tablet {
            font-size: 1rem;
            margin-right: 2rem;
            padding-bottom: 1rem;
        }


    }

    &__nav-list-item--selected {
        border-bottom: 0.3rem solid colors.$secondary-white;
        color: colors.$primary-white;
        width: 50%;
        font-weight: bold;

        /* Media queries */
        @include mixins.tablet {
            border-bottom: 0.1rem solid colors.$secondary-white;

        }
    }


}

/* Hero Section*/
.hero-image {
    background-image: url(../assets/Images/hero-bio.jpg);
    background-size: cover;
    background-position: center;
    height: 15rem;
    width: 100%;
    display: flex;
    align-items: center;

    /* Media queries */
    @include mixins.tablet {
        height: 30rem;
    }

    @include mixins.desktop {
        height: 50rem;
    }

    &__title {
        margin: 0 0 1rem 1rem;
        color: colors.$primary-white;
        font-weight: 700;
        font-size: 1.5rem;
        z-index: 1;

        /* Media queries */
        @include mixins.tablet {
            font-size: 3.5rem;
        }

        @include mixins.desktop {
            margin: 0 0 8rem 10rem;
            font-size: 4rem;
        }
    }

    &--overlay {
        background-color: rgba(50, 50, 50, 0.5);
        height: 15rem;
        width: 100%;
        position: absolute;

        /* Media queries */
        @include mixins.tablet {
            height: 30rem;
        }

        @include mixins.desktop {
            height: 50rem;
        }

    }

}

/* About section*/
.about {
    background-color: colors.$primary-white;
}

.about-praise {
    margin: 1rem;

    &__title {
        font-size: 1.5rem;

        font-weight: 700;
    }

    &__image {
        width: 100%;
    }

    &__quote {
        font-weight: 600;
    }

    &__text {
        font-weight: 600;
        font-size: 0.9rem;
    }

    /* Media queries */
    @include mixins.tablet {
        &__container {
            margin: 1.5rem 3rem 3rem 3rem;
        }

        &__quote {
            font-size: 1.8rem;
            font-weight: bold;
        }

        &__text {
            font-size: 1.5rem;
            font-weight: 700;
        }
    }

    @include mixins.desktop {
        margin: 3rem;

        &__title {
            font-size: 2rem;
            margin-left: 1.5rem;
        }

        &__image {
            width: 90%;
        }

        &__quote {
            font-size: 1.5rem;
            width: 70%;
        }

        &__text {
            font-size: 1.2rem;
        }
    }
}

.about-band {
    margin: 1rem;

    &__title {
        font-weight: 500;
    }

    &__text {
        font-weight: 400;
    }

    /* Media queries */
    @include mixins.tablet {
        margin: 3rem;

        &__container {
            display: flex;
            justify-content: center;
            flex-direction: row;
        }

        &__text {
            line-height: 1.5rem;
            margin: 1rem;
            width: 40%;
            font-size: 1rem;
        }

        &__title {
            margin: 1.75rem 0 0 3rem;
            font-size: 1.8rem;
            font-weight: bold;
        }
    }

    @include mixins.desktop {
        &__title {
            font-size: 1.5rem;
            margin-left: 10rem;
        }

        &__text {
            width: 35%;
        }
    }

}

/* Gallery */
.gallery {
    background-color: colors.$secondary-silver;
}

.photo {
    margin: 1rem 1rem 0 1rem;

    &__box {
        width: 100%;
        margin: 0.5rem 0 0.5rem 0;
    }
    &__box:hover {
        filter: grayscale(100%);
    }

    &__title {
        padding-top: 1rem;

    }

    @include mixins.tablet {
        &__title {
            margin-left: 0.5rem;
            padding-top: 3rem;
            font-size: 2rem;
        }

        &__container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            margin: auto;
            padding-bottom: 2rem;

        }

        &__box {
            width: 30%;
            margin: 0.5rem;
        }
    }

    @include mixins.desktop {
        margin: 5rem 5rem 0 5rem;
    }
}

/* Join the Conversation Section*/
.form {
    display: flex;
   

    .form-header{
        display: block;
        

        &__title {
           color: colors.$primary-black;
           margin-left: 1rem;
        }
    }

    /* Actual Form with input field  */
    .form-container {
        display: flex;
        flex-direction: row;
        width: 100%;

        &__column {
            display: flex;
           
        }
        &__row1 {
            width: 20%;
           margin-left: 1rem;
        }
        &__row2 {
            width: 80%;
        }
        &__label {
            display: block;
            margin-bottom: 0.5rem;
        }
        &__input {
            padding: 0.5rem;
            border-radius: 0.35rem;
            border: 0.06rem solid colors.$primary-silver;
            margin-bottom: 1rem;
            width: 90%;
        }
        &__text{
            height: 6rem;
        }
        &__button {
            background-color: colors.$primary-black;
            color: colors.$primary-white;
            display: block;
            padding: 0.5rem 2rem;
            margin-bottom: 1rem;
            width: 90%;
            border-radius: 0.25rem;
            // max-height: ;
        }
    
        &__avatar {
            width: 3rem;
            height: 3rem;
            background-size:contain;
            border-radius: 50%;
        
        }
    }
}



/* Footer */
.footer {
    background-color: colors.$primary-black;
    color: colors.$primary-white;
    position: relative;

    &__contact {
        margin: 0 1rem 1rem 1rem;
    }

    &__title {
        margin-top: 0;
        padding-top: 2rem;
    }

    &__manager {
        margin: 1rem;
    }

    &__copyright {
        margin: 1rem;
    }

    &__social {
        margin-right: 1rem;
    }

    @include mixins.tablet {
        &__contact {
            display: flex;
            margin-bottom: 0;
        }

        &__title {
            font-size: 2rem;
            margin: 0 1rem 2rem 2rem;
        }

        &__socials {
            margin-top: 2.5rem;
        }

        &__manager {
            margin-right: 0;
            width: 33%;
            text-align: left;
        }

        &__container {
            display: flex;
            width: 100%;
            padding: 1rem;
        }

    }

    @include mixins.desktop {
        &__manager {
            margin-top: 0;
            width: 20%;
        }

        &__container {
            padding-top: 0;
            margin-left: 2rem;
        }

        &__contact {
            margin-left: 2rem;
        }
    }
}

.footer__manager-title {
    margin: 0;

    @include mixins.tablet {
        font-size: 0.9rem;
        line-height: 1rem;
    }
}

.footer__manager-text {
    width: 60%;

    @include mixins.tablet {
        width: 80%;
    }
}

.footer-copyright {
    margin: 3rem 1rem 0 1rem;
    padding-bottom: 1rem;

    @include mixins.tablet {
        margin-top: 0;
    }
}

.footer-copyright__text {
    margin-bottom: 0;
    font-weight: 400;

    @include mixins.tablet {
        font-size: 0.9rem;
        margin: 0 0 2rem 1rem;
    }

    @include mixins.desktop {
        margin-left: 3rem;
    }
}

.footer-copyright {
    @include mixins.tablet {
        &--selected {
            position: absolute;
            top: 2.8rem;
            right: 3rem;
        }
    }

    @include mixins.desktop {
        &--selected {
            right: 15rem;
        }
    }
}