/* Primary Colors*/
/* Secondary Colors*/
/* for every element before and
 after apply the border box property" */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../../assets/Font/AvenirNextLTPro-Regular-Converted.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../../assets/Font/AvenirNextLTPro-Demi-Converted.woff2");
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../../assets/Font/AvenirNextLTPro-Bold-Converted.woff2");
  font-weight: bold;
  font-style: normal;
}
/*  Import files for use */
/*  Header styling*/
.header {
  background-color: #323232;
  /* Media queries */
}
@media (min-width: 48rem) {
  .header {
    display: flex;
  }
}
@media (min-width: 80rem) {
  .header {
    padding: 1rem 0 0 3rem;
  }
}
.header__image-container {
  padding: 1rem 0;
}
.header__image {
  display: block;
  width: 8rem;
  height: 1.5rem;
  margin: auto;
  /* Media queries */
}
@media (min-width: 48rem) {
  .header__image {
    margin-left: 2rem;
  }
}
.header__navigation-list {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  /* Media queries */
}
@media (min-width: 48rem) {
  .header__navigation-list {
    padding-top: 0.7rem;
    height: 100%;
    margin-left: 4rem;
  }
}
.header__nav-list-item {
  color: #FFFFFF;
  font-size: 1.2rem;
  font-family: "AvenirNextLTPro";
  text-align: center;
  padding: 0.5rem;
  width: 50%;
  /* Media queries */
}
@media (min-width: 48rem) {
  .header__nav-list-item {
    font-size: 1rem;
    margin-right: 2rem;
    padding-bottom: 1rem;
  }
}
.header__nav-list-item--selected {
  border-bottom: 0.3rem solid #FAFAFA;
  width: 50%;
  font-weight: bold;
  /* Media queries */
}
@media (min-width: 48rem) {
  .header__nav-list-item--selected {
    border-bottom: 0.1rem solid #FAFAFA;
  }
}

/* Hero Section*/
.hero-image {
  background-image: url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  height: 15rem;
  width: 100%;
  display: flex;
  align-items: center;
  /* Media queries */
}
@media (min-width: 48rem) {
  .hero-image {
    height: 30rem;
  }
}
@media (min-width: 80rem) {
  .hero-image {
    height: 50rem;
  }
}
.hero-image__title {
  margin: 0 0 1rem 1rem;
  color: #FFFFFF;
  font-size: 1.5rem;
  z-index: 1;
  /* Media queries */
}
@media (min-width: 48rem) {
  .hero-image__title {
    font-size: 3.5rem;
  }
}
@media (min-width: 80rem) {
  .hero-image__title {
    margin: 0 0 8rem 10rem;
    font-size: 4rem;
  }
}
.hero-image--overlay {
  background-color: rgba(50, 50, 50, 0.5);
  height: 15rem;
  width: 100%;
  position: absolute;
  /* Media queries */
}
@media (min-width: 48rem) {
  .hero-image--overlay {
    height: 30rem;
  }
}
@media (min-width: 80rem) {
  .hero-image--overlay {
    height: 50rem;
  }
}

/* About section*/
.about {
  background-color: #FFFFFF;
}

.about-praise {
  margin: 1rem;
  /* Media queries */
}
.about-praise__title {
  font-size: 2rem;
}
.about-praise__image {
  width: 100%;
}
@media (min-width: 48rem) {
  .about-praise__container {
    margin: 1.5rem 3rem 3rem 3rem;
  }
  .about-praise__quote {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .about-praise__text {
    font-size: 1.5rem;
    font-weight: 700;
  }
}
@media (min-width: 80rem) {
  .about-praise {
    margin: 3rem;
  }
  .about-praise__title {
    font-size: 1.8rem;
  }
  .about-praise__image {
    width: 90%;
  }
  .about-praise__quote {
    font-size: 1.5rem;
    width: 70%;
  }
  .about-praise__text {
    font-size: 1.2rem;
  }
}

.about-band {
  margin: 1rem;
  /* Media queries */
}
@media (min-width: 48rem) {
  .about-band {
    margin: 3rem;
  }
  .about-band__container {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .about-band__text {
    line-height: 1.5rem;
    margin: 1rem;
    width: 40%;
    font-size: 1rem;
  }
  .about-band__title {
    margin: 1.75rem 0 0 3rem;
    font-size: 1.8rem;
    font-weight: bold;
  }
}
@media (min-width: 80rem) {
  .about-band__title {
    font-size: 1.5rem;
    margin-left: 10rem;
  }
  .about-band__text {
    width: 35%;
  }
}

/* Gallery */
.gallery {
  background-color: #E1E1E1;
}

.photo {
  margin: 1rem 1rem 0 1rem;
}
.photo__box {
  width: 100%;
  margin: 0.5rem 0 0.5rem 0;
}
.photo__title {
  padding-top: 1rem;
}
@media (min-width: 48rem) {
  .photo__title {
    margin-left: 0.5rem;
    padding-top: 3rem;
    font-size: 2rem;
  }
  .photo__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    padding-bottom: 2rem;
  }
  .photo__box {
    width: 30%;
    margin: 0.5rem;
  }
}

/* Footer */
.footer {
  background-color: #323232;
  color: #FFFFFF;
  position: relative;
}
.footer__contact {
  margin: 0 1rem 1rem 1rem;
}
@media (min-width: 48rem) {
  .footer__contact {
    display: flex;
    margin-bottom: 0;
  }
}
.footer__title {
  margin-top: 0;
  padding-top: 2rem;
}
@media (min-width: 48rem) {
  .footer__title {
    font-size: 2rem;
    margin: 0 1rem 2rem 2rem;
  }
}
@media (min-width: 48rem) {
  .footer__container {
    display: flex;
    width: 100%;
    padding: 1rem;
  }
}
.footer__manager {
  margin: 1rem;
}
@media (min-width: 48rem) {
  .footer__manager {
    margin-right: 0;
    width: 33%;
    text-align: left;
  }
}
.footer__copyright {
  margin: 1rem;
}
.footer__social {
  margin-right: 1rem;
}
@media (min-width: 48rem) {
  .footer__socials {
    margin-top: 2.5rem;
  }
}

.footer__manager-title {
  margin: 0;
}
@media (min-width: 48rem) {
  .footer__manager-title {
    font-size: 0.9rem;
    line-height: 1rem;
  }
}

.footer__manager-text {
  width: 60%;
}
@media (min-width: 48rem) {
  .footer__manager-text {
    width: 80%;
  }
}

.footer__copyright {
  margin: 3rem 1rem 0 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .footer__copyright {
    margin-top: 0;
  }
}

.footer__copyright-text {
  margin-bottom: 0;
}
@media (min-width: 48rem) {
  .footer__copyright-text {
    font-size: 0.9rem;
    margin: 0 0 2rem 0;
  }
}

@media (min-width: 48rem) {
  .footer__copyright--selected {
    position: absolute;
    top: 2.8rem;
    right: 3rem;
  }
}
/*Steps to creating media queries using scss *//*# sourceMappingURL=bio.css.map */