/*  Import files for use */
@use "../styles/partials/_colors";
@use "../styles/partials/_global" as *;
@use "../styles/partials/_mixins";


/*  Header styling*/
.header {
    background-color: colors.$primary-black;

    &__image-container {
        padding: 1rem 0;
    }
    &__image {
        display: block;
        width: 8rem;
        height: 1.5rem;
        margin: auto;

    }

    &__navigation-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
    }
    &__nav-list-item {
        
        color: colors.$primary-white;
        font-size: 1.2rem;
        text-align: center;
        padding: 0.5rem;
        width: 50%;

        
    }
    &__nav-list-item--selected {
        border-bottom: 0.3rem solid colors.$secondary-white;
        width: 50%;
        // margin-left: -2rem;
    }


}

/* Hero Section*/
.hero-image { 
    background-image: url(../assets/Images/hero-bio.jpg);
    background-size: cover;
    background-position: center;
    height: 15rem;
    width: 100%;
    display: flex;
    align-items: center;

    &__title {
        margin: 0 0 1rem 1rem;
        color: colors.$primary-white;
        font-size: 1.5rem;
        z-index: 1;
    }
    &--overlay {
        background-color: rgba(50, 50, 50, 0.5);
        height: 15rem;
        width: 100%;
        position: absolute;
        
    }
    
}

/* About section*/
.about {
    background-color: colors.$primary-white;
}

.about-praise {
    margin: 1rem;

    &__image {
        width: 100%;
    }
}

.about-band {
    margin: 1rem;
}

/* Gallery */
.gallery {
    background-color: colors.$secondary-silver;
}

.photo {
    margin: 1rem;

    &__box {
        width: 100%;
    }

    &__title {
        padding-top: 1rem;
    }
}


